:root {
  --primary-color: #dfe3f0;
  --secondary-color: #363753;
  --text-primary-color: #fefefe;
  --button-color: #d9ae70;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secondary-color);
}

.nav-links a {
  color: var(--text-primary-color)
}

.nav-links a:hover {
  color: var(--button-color)
}

/* navbar menu */
.nav-links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links li {
  padding: 5px 14px;
}


/* Jumbotron */
.jumbotron,
.calendar {
  display: flex;
  justify-content: center;
  outline: 1px dashed red;
  border-radius: 30px;
  margin: 3rem;
  /* padding: 8rem 1rem 8rem 1rem; */
  height: 40vh;
  line-height: 40vh;
}

/* Routine div's */
.home-routine {
  display: flex;
  justify-content: space-around;
  padding: 2em;

}

.routine-div {
  border-radius: 30px;
  /* outline: 1px dashed red; */
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
}

.routine-div > * {
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0 1rem;
}


/* Calendar */


/* Buttons */
input[type="button"] {
  background-color: var(--button-color);
  padding: 0.2em 1.5em 0.2em 1.5em;
  border-radius: 10px;
  color: #363753;
  font-weight: 200;
}

footer {
  text-align: center;
}

/* Media queries */

@media (max-width: 1100px) {
  .home-routine {
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
  }

  .routine-div {
    margin: 1em 0 1em 0;
    width: 100%;
  }

  .routine-div > * {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (max-width: 879px) {
  .hidden--mobile {
    display: none !important;
  }

  .nav-links {
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    top: 100px;
  }

  .nav-links li:hover {
    display: inline-block;
    color: var(--button-color);
    transition: 0.3s ease;
  }

  .nav-links li + li {
    margin-top: 12px;
  }
}

@media (min-width: 880px) {
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  .nav-links > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars-staggered {
    display: none;
  }
}
