:root {
  --primary-color: #dfe3f0;
  --secondary-color: #363753;
  --text-primary-color: #fefefe;
  --button-color: #d9ae70;
}


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Patrick Hand', cursive;
}

body {
  background-color: var(--primary-color);
  /* min-height: 100vh !important; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secondary-color);
}

.nav-links a {
  color: var(--text-primary-color)
}

.nav-links a:hover {
  color: var(--button-color)
}

/* navbar menu */
.nav-links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links li {
  padding: 5px 14px;
}


/* Jumbotron */
.jumbotron {
  display: flex;
  justify-content: center;
  outline: 1px dashed red;
  /* border-radius: 30px; */
  margin: 3rem;
  height: 100vh;
  line-height: 40vh;
}

.jumbotron > h1 {
  font-size: 3em;
}

.jumbo-content {
  background-image: url(./imgs/jumbo_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  color: var(--button-color);
  text-shadow: 1px 1px 0px #363753;
  outline: none;
  margin: 0 auto;
  align-items: center;
  color: #d9ae70;
}

.about-content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
  margin: 10px;
}

.about-form {
  padding: 1rem;
  width: 80%;
  box-shadow: 0px 0px 25px rgb(0,0,0);
  border-radius: 30px;
}


/* Routine div's */
.home-routine {
  display: flex;
  justify-content: space-evenly;
  padding: 5em;
  width: 75%;
  margin: 1rem auto;
}

.routine-div {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 3em 2em 3em 2em;
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
  font-size: 1.2em;
}

.routine-div-label {
  font-size: 2rem;
}


.morning {
  background-color: #87CEFA;
}

/* .sun {
  background-image: url("https://cdn-icons-png.flaticon.com/512/365/365851.png?w=826&t=st=1690230096~exp=1690230696~hmac=7321d558dd87c69a033023e646a6779964299235a638bc86c58b886849daf90e");
  background-size: contain;
} */

/* .evening {
  background-image: url("https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg?w=1380&t=st=1690229886~exp=1690230486~hmac=b7c5d81fa2590b97712d40791b4b1053f4151d55d4aae9784746a3c79e9e0f2a");
  background-size: cover;
} */

.routine-div > * {
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0 1rem;
}


/* Calendar */
.calendar-container {
  width: 95%;
  height: calc(85vh - 85px);
  margin-left: auto;
  margin-right: auto;
}

.appointment-container {
  margin: 2em;
}

#delete-appointment {
  margin-top: 2em;
  padding: 0.5em;
  background-color: hsl(4deg 99% 50%);
  color: white;
}


/* Buttons */
input[type="button"] {
  background-color: var(--button-color);
  padding: 0.2em 1.5em 0.2em 1.5em;
  border-radius: 10px;
  color: #363753;
  font-weight: 200;
}

footer {
  text-align: center;
  margin-top: auto !important;
}

.mood {
  outline: none;
  height: 10vh;
  line-height: 10vh;
}

.mood-form {
  display: flex;
  justify-content: center;
}

.selector input {
  margin: 0;
  padding: 0;
  appearance: none;
}

.emotion-1 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1182/1182401.png?w=826&t=st=1690235825~exp=1690236425~hmac=b42142ae2b37ec7e4950ae89e0abc63425327cca1d0ce5aa8d36a90b35bf3a2d);
}
.emotion-2 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1182/1182403.png?w=826&t=st=1690235841~exp=1690236441~hmac=1d146db783e408c19131eba8edbcfbeadfe865702278ad1e06ceffc1a8b82780);
}
.emotion-3 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1182/1182399.png?w=826&t=st=1690235853~exp=1690236453~hmac=5f3f310ba805b8502d18b920ee5dd791e1d81e63f1ce2783bd61602cf63d4c50);
}
.emotion-4 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1182/1182408.png?w=826&t=st=1690235869~exp=1690236469~hmac=38defa001a44e4d948527d07c9fbfbbf2b9e27deb1c45c8c85bc36eaf45346bf);
}
.emotion-5 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1182/1182409.png?w=826&t=st=1690235881~exp=1690236481~hmac=81b6e0beb22f6901e1e8d123f0c36f8db1afaed96b4fdd49f12556d81d3cf183);
}



.mood-label {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
}

/* Rewards page */
.weather-div {
  display: flex;
  justify-content: center;
  background-color: #363753;
  padding: 1em;
  width: 50%;
  margin: 1rem auto;
  border-radius: 30px;
}

.weather-details {
  box-shadow: 0px 0px 25px rgb(0,0,0);
  border-radius: 30px;
  padding: 1em 2em;
  color: var(--primary-color);
  width: 65%;
  font-size: 1.2em;
}

#weather-description {
  text-align: center;
}

.weather-text {
  padding: .75rem 0;
}

#city {
  font-size: 2rem;
}

.weather-output {
  float: right;
}

/* Media queries */

@media (max-width: 1100px) {
  .home-routine {
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
  }

  .routine-div {
    margin: 1em 0 1em 0;
    width: 100%;
  }

  .routine-div > * {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (max-width: 879px) {
  .hidden--mobile {
    display: none !important;
  }

  .nav-links {
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    top: 100px;
  }

  .nav-links li:hover {
    display: inline-block;
    color: var(--button-color);
    transition: 0.3s ease;
  }

  .nav-links li + li {
    margin-top: 12px;
  }
}

@media (min-width: 880px) {
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  .nav-links > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars-staggered {
    display: none;
  }
}
